<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="jumbotron" style="margin-top: 30px; text-align: center">
  <h4>Welcome to my site!</h4>
</div>

<div class="row">
  <div class="col-md-4" id="hello">
    <h1>Hello World</h1>
  </div>
  <div class="col-md-4" id="hello">
    <h1>Hello World</h1>
  </div>
</div>


<a class="various" rel="gallery1" href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_m.jpg" title="Morning Godafoss (Brads5)">
  <img src="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_m.jpg" alt=""/>
</a>
<a class="various" rel="gallery1" href="http://farm4.staticflickr.com/3691/10185053775_701272da37_m.jpg" title="Vertical - Special Edition! (cedarsphoto)">
  <img src="http://farm4.staticflickr.com/3691/10185053775_701272da37_m.jpg" alt=""/>
</a>
<a class="fancybox" rel="gallery1" href="http://farm1.staticflickr.com/574/22407305427_69cc6e845f_m.jpg" title="Racing against the Protons (tom.leuzi)">
  <img src="http://farm1.staticflickr.com/574/22407305427_69cc6e845f_m.jpg" alt=""/>
</a>
<a class="fancybox" rel="gallery1" href="/assets/flower.jpg" title="Lupines (Kiddi Einars)">
  <img src="http://farm1.staticflickr.com/291/18653638823_a86b58523c_m.jpg" alt=""/>
</a>

<ul class="list">
  <li>
    <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1">Youtube (iframe)</a>
  </li>
  <li>
    <a class="various fancybox.iframe" href="http://maps.google.com/?output=embed&f=q&source=s_q&hl=en&geocode=&q=London+Eye,+County+Hall,+Westminster+Bridge+Road,+London,+United+Kingdom&hl=lv&ll=51.504155,-0.117749&spn=0.00571,0.016512&sll=56.879635,24.603189&sspn=10.280244,33.815918&vpsrc=6&hq=London+Eye&radius=15000&t=h&z=17">Google
      maps (iframe)</a>
  </li>
</ul>
</body>
